### Connecting to PostgreSQL

In [3]:
# library
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# check pandas version
pd.__version__

In [ ]:
# database engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

### Reading CSV file as chunks and insert into database

In [ ]:
# read csv file with a chunk of 100000 lines for each iteration
df_iter = pd.read_csv('data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
# take the first chunk
df = next(df_iter)

In [ ]:
# convert from text to timestamp datatype (the first chunk)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# create a new table in database with only column names
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
# insert the first data chunk (100000 rows) into table
# %time: calculate execute time
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
# library
from time import time

In [ ]:
# loop over each chunk and insert into table
# calculate time for each write operation
while True: 
    
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

### Preparing SQL

In [ ]:
# read csv file & convert it to DataFrame
df_zones = pd.read_csv('data/taxi_zone_lookup.csv')

In [ ]:
# check whether read operation is successed
df_zones.head()

In [ ]:
# create database engine
# note is hostname is localhost because we're not working in docker env
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
# write table to Postgres database
df_zones.to_sql(name='zones', con=engine, if_exists='replace')